/* TODO: Style the product card container */
.productContainer {
    align-items: flex;
    background-color: #7EA1DE;
    color: #33476B;
}

/* TODO: Add special styling for out-of-stock products */
.outOfStockClass {
    align-items: flex;
    background-color: #ADADAD;
    color: #E6E6E6;
}